{{template "base" .}}

{{define "title"}}Заметка #{{.Event.ID}}{{end}}

{{define "main"}}
	{{with .Event}}
<div class='snippet'>
	<div class='metadata'>
		<strong>{{.Title}}</strong>
		<span>#{{.ID}}</span>
	</div>
	<pre><code>{{.Content}}</code></pre>
	<div class='metadata'>
		<time>Создан: {{.Created}}</time>
		<time>Срок: {{.Expires}}</time>
	</div>
</div>
	{{end}}
{{end}}